
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

.skills-main{
    /* position: relative; */
    width: 500px;
    margin-top: 18em;
    margin-left: 40px;
    font-family: 'Roboto Mono';
    color: white;
}

.skills-main::before{
    content: '<body>';
    font-size: 20px;
    color: rgb(167, 167, 40);
    font-family: 'La Belle Aurore';
    font-weight: 400;
    position: absolute;
    top:50px;
    left: 100px;
}

.skills-main::after{
    content: '</body>';
    font-size: 20px;
    color: rgb(167, 167, 40);
    font-family: 'La Belle Aurore';
    font-weight: 400;
    position: absolute;
    top:750px;
    left: 100px;
} 
.skills-main p:nth-child(3):after{
    content: '</html>';
    font-size: 20px;
    color: rgb(167, 167, 40);
    font-family: 'La Belle Aurore';
    font-weight: 400;
    position: absolute;
    top:790px;
    left: 80px;
}

.skills-main h1{
    font-size: 50px;
    color: #ffD700;
    margin-left: 30px;
}
.skills-main h1::before{
    content: '<h1>';
    font-size: 20px;
    color: rgb(167, 167, 40);
    font-family: 'La Belle Aurore';
    font-weight: 400;
    position: absolute;
    top:260px;
    left: 120px;
}
.skills-main h1::after{
    content: '</h1>';
    font-size: 20px;
    color: rgb(167, 167, 40);
    font-family: 'La Belle Aurore';
    font-weight: 400;
    position: absolute;
    top:420px;
    left: 120px;
}
.skills-main p:nth-child(3){
    font-size: 14px;
    margin-left: 40px;
    margin-top: 50px;
}
.skills-main p{
    font-size: 14px;
    margin-left: 40px;
    margin-top: 20px;
}
.skills-main a{
    color: #ffD700;
}
.skills-main a:hover{
    color: #fff;
}